<h1>Ranks</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Darjah</th>
      <th scope="col">Negeri</th>
      <th scope="col">actions</th>
    </tr>
  </thead>

  <tbody>
  <% @ranks.each do |rank| %>
    <% if rank.state %>
      <tr>
        <th scope= "row"><%= rank.id %></th>
        <td><%= rank.darjah %></td>
        <td><%= rank.state.negeri%></td>
        <td><%= link_to "Show this rank", rank %></td>

      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to "New rank", new_rank_path %>
