<p style="color: green"><%= notice %></p>

<%= render @rank %>

<div>
  <%= link_to "Edit this rank", edit_rank_path(@rank) %> |
  <%= link_to "Back to ranks", ranks_path %> | <%= link_to "New rank", new_rank_path %>

  <%= button_to "Destroy this rank", @rank, method: :delete %>
</div>
