<h1>Senarai Bayaran</h1>

<br/>

<table id="payments", class="table table-striped table-bordered table-hover ">
  <thead class= "table-primary">
    <tr>
      <th>Order No</th>
      <th>Buyer Name</th>
      <th>Buyer Phone</th>
      <th>Buyer Email</th>
      <th>Payment Status</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.order_number %></td>
        <td><%= payment.buyer_name %></td>
        <td><%= payment.buyer_phone %></td>
        <td><%= payment.buyer_email %></td>
        <td><%= payment.status %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></td>

      </tr>
    <% end %>
  </tbody>
</table>